* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  height: 100vh;
  padding: 0 16px;
  background-color: hsl(27, 66%, 92%);
  font-family: 'DM Sans', sans-serif;
}
