.Spending {
    padding: 24px 20px 24px 20px;
    border-radius: 8px;
    background-color: hsl(33, 100%, 98%);

    h1 {
        font-size: 24px;
        color: hsl(25, 47%, 15%);
        margin-bottom: 52px;
    }

    h3 {
        color: hsl(28, 10%, 53%);
        font-size: 15px;
        font-weight: 400;
    }

    hr {
        border: 1px solid hsla(27, 66%, 92%, 1);
        margin: 24px 0 24px 0;
    }

    .Popup {
        visibility: hidden;
        position: absolute;
        transform: translateY(-35px);
        background-color: hsl(25, 47%, 15%);
        border-radius: 5px;
        color: hsl(33, 100%, 98%);
        font-size: 12px;
        font-weight: 700;
        padding: 6px 4px 6px 4px;
    }

    .Graphic {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        column-gap: 4%;
    }

    .Graphic>div {
        width: 50%;
        cursor: pointer;

        &:hover {
            .Chart {
                background-color: hsl(10, 100%, 76%);
            }

            .Chart+div {
                font-weight: 700;
            }

            .Popup {
                visibility: visible;
            }
        }

        &:active {
            .Chart {
                background-color: hsl(186, 49%, 80%);
            }
        }
    }    

    .Flex {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .Total,
    .Variation {
        color: hsl(25, 47%, 15%);
        font-size: 30px;
        font-weight: 700;
    }

    .Variation {
        font-size: 15px;
        text-align: end;
    }

    .Chart {
        border-radius: 3px;
        background-color: hsl(10, 79%, 65%);
    }

    .Chart+div {
        margin-top: 10px;
        color: hsl(28, 10%, 53%);
        font-size: 12px;
        text-align: center;
    }
}